* {
    font-family: "Times New Roman", sans-serif;
}

.title {
    text-align: center;
    color: white;
    background-color: brown;
}

.title.main {
    font-size: 48px;
}

.title.desc {
    font-size: 30px;
}

/*  Will likely need some inline CSS to get this to work for all images.
    Otherwise this .css file creates a consistent theme among all recipe pages.*/
img {
    height: auto;
    width: 1000px;
}

.list {
    text-align: center;
    color: white;
    background: black;
}