* {
    font-family: "Times New Roman", sans-serif;
}

h1 {
    background-color: green;
    color: white;
    font-weight: bolder;
    text-align: center;
    font-size: 36px;

}

img {
    height: auto;
    width: 500px;
}

.odd,
.even {
    font-weight:  bold;
}

.odd {
    background-color: lightblue;
}

.even {
    background-color: lightgreen;
}